# API Keys and Secrets
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# macOS
.DS_Store

# Build
ios/build/
android/build/
android/app/build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
.cache/